<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>channel {{ .name }}</title>
    <link href="{{ .prefix }}/static/style.css" rel="stylesheet" media="all">
  </head>
<html>
<body>

  <div class="center">
    <h1>Add a bookmark for channel <em>{{ .name }}</em>.</h1>
  </div>
  <form action="{{ .name }}" method="post">
    <p><label>URL:</label> <input type="text" name="url"></p>
    <br>
    <p><label>Comment:</label> <textarea name="comment" cols="80" rows="6"></textarea></p>
    <div class="center">
      <p><input type="submit" value="Submit"></p>
    </div>
  </form>

</body>
</html>
